<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.board.model.dao.BoardDao">
	<select id="totalCount" resultType="int">
		select count(*) from
		board_tbl where board_hide=0 and board_type=2
	</select>

	<select id="selectBoardList" resultType="board">
		SELECT * FROM (
		SELECT
		ROWNUM AS rnum, d.* FROM (
		SELECT
		b.board_no,
		b.board_title,
		m.member_nickname,
		b.board_thumbnail,
		TO_CHAR(b.board_date, 'yyyy-mm-dd
		') AS board_date,
		b.read_count
		FROM
		board_tbl b
		JOIN
		member_tbl m
		ON
		b.member_no = m.member_no
		WHERE
		b.board_type = 2 AND b.board_hide = 0
		ORDER BY
		b.board_no DESC
		) d
		) WHERE rnum BETWEEN #{start} AND #{end}
	</select>


	<select id="selectCount" resultType="int">
		select count(*) from
		board_tbl where board_type=2 and board_hide=0
	</select>

	<insert id="insertBoard">
		INSERT INTO BOARD_TBL VALUES(BOARD_SEQ.NEXTVAL, #{boardTitle},
		#{boardContent}, #{memberNo},0, #{boardType}, #{productCategory}, 0,
		SYSDATE,
		#{boardThumbnail})

		<selectKey resultType="int" keyProperty="boardNo"
			order="AFTER">
			select max(board_no) from board_tbl
		</selectKey>
	</insert>

	<update id="updateReadCount">
		update board_tbl set read_count = read_count+1 where
		board_no=#{boardNo}
	</update>


	<insert id="insertBoardFile">
		insert into board_file_tbl
		values(BOARD_FILE_SEQ.nextval, #{boardNo}, #{filename}, #{filepath})
	</insert>

	<select id="selectOneBoard" resultType="board">
		SELECT
		b.board_no,
		b.board_title,
		b.board_content,
		b.member_no,
		b.read_count,
		b.board_type,
		TO_CHAR(b.board_date, 'yyyy-mm-dd hh24:mi:ss') as board_date,
		b.board_thumbnail,
		m.member_Id
		FROM
		board_tbl b
		INNER JOIN
		member_tbl m ON b.member_no = m.member_no
		WHERE
		b.board_no = #{board_no}

	</select>


	<select id="selectOneBoardFileList" resultType="boardFile">
		select * from
		board_file_tbl where board_no=#{boardNo}
	</select>

	<select id="selectOneBoardFile" resultType="boardFile">
		select * from
		board_file_tbl where file_no=#{fileNo}
	</select>


	<delete id="deleteBoard">
		delete from board_tbl where board_no=#{boardNo}
	</delete>



	<select id="selectBoardFile" resultType="boardFile">
		select * from board_file_tbl where file_no in
		<foreach collection="array" open="(" close=")" separator=","
			item="fileNo">
			#{fileNo}
		</foreach>
	</select>
	<delete id="deleteBoardFile">
		delete from board_file_tbl where board_file_no in
		<foreach collection="array" open="(" close=")" separator=","
			item="fileNo">
			#{fileNo}
		</foreach>
	</delete>
	<update id="updateBoard">
		update board_tbl set
		board_title = #{boardTitle},
		board_content = #{boardContent},
		board_thumbnail = #{boardThumbnail}
		where board_no = #{boardNo}
	</update>

	<insert id="insertComment" parameterType="BoardComment">
		INSERT INTO comment_tbl
		VALUES (COMMENT_SEQ.nextval, #{boardNo},
		#{commentWriter},
		#{commentContent},
		<choose>
			<when test="selfRef == 0"> null </when>
			<otherwise> #{selfRef} </otherwise>
		</choose>
		,
		0, sysdate)
	</insert>

	<select id="selectCommentList" resultType="BoardComment">
		SELECT comment_tbl.*,
		member_tbl.member_id
		FROM comment_tbl
		INNER JOIN member_tbl ON comment_tbl.comment_writer = member_tbl.member_no
		WHERE comment_tbl.board_no = #{boardNo}
		ORDER BY 1

	</select>


	<delete id="deleteComment">
		delete from comment_tbl where comment_no =
		#{commentNo}
	</delete>

	<select id="selectSearchBoardList" resultType="Board">
		SELECT * FROM (
		SELECT
		ROWNUM AS rnum, d.*
		FROM (
		SELECT
		b.board_no,
		b.board_title,
		m.member_nickname,
		b.board_thumbnail,
		TO_CHAR(b.board_date, 'yyyy-mm-dd hh24:mi:ss') AS board_date,
		b.read_count
		FROM
		board_tbl b
		JOIN
		member_tbl m ON b.member_no =
		m.member_no
		WHERE
		b.board_type = 2
		AND b.board_hide = 0
		<choose>
			<when test="selectedValue == 1">
				<!-- 전체 검색 -->
				AND (b.board_title LIKE '%' || #{selectedKeyword} || '%'
				OR
				b.board_content LIKE '%' || #{selectedKeyword} || '%')
			</when>
			<when test="selectedValue == 2">
				<!-- 제목 검색 -->
				AND b.board_title LIKE '%' || #{selectedKeyword} || '%'
			</when>
			<when test="selectedValue == 3">
				<!-- 내용 검색 -->
				AND b.board_content LIKE '%' || #{selectedKeyword} || '%'
			</when>
		</choose>
		ORDER BY
		b.board_no DESC
		) d
		) WHERE rnum BETWEEN #{pi.start} AND
		#{pi.end}

	</select>

	<select id="totalSearchCount" resultType="int">
		SELECT COUNT(*) FROM board_tbl
		WHERE board_hide = 0 and board_type=2
		<choose>
			<when test="selectedValue == 1">
				AND (board_title LIKE '%' || #{selectedKeyword} ||
				'%' OR board_content
				LIKE '%' || #{selectedKeyword} || '%')
			</when>
			<when test="selectedValue == 2">
				AND board_title LIKE '%' || #{selectedKeyword} || '%'
			</when>
			<when test="selectedValue == 3">
				AND board_content LIKE '%' || #{selectedKeyword} ||
				'%'
			</when>
		</choose>
	</select>

	<select id="totalBoardCount" resultType="int">
		select count(*) from
		board_tbl
	</select>


	<select id="selectTotalBoardList" resultType="board">
		SELECT * FROM (
		SELECT
		ROWNUM AS rnum, d.* FROM (
		SELECT
		b.board_no,
		b.board_title,
		m.member_nickname,
		b.board_thumbnail,
		TO_CHAR(b.board_date, 'yyyy-mm-dd
		hh24:mi:ss') AS board_date,
		b.read_count
		FROM
		board_tbl b
		JOIN
		member_tbl m
		ON b.member_no =
		m.member_no
		WHERE
		b.board_type = 2 AND b.board_hide = 0
		ORDER BY
		b.board_no DESC
		) d
		) WHERE rnum BETWEEN #{start} AND #{end}
	</select>

</mapper>
